<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="https://plainlab.github.io/favicon.ico" />
        <link
            rel="apple-touch-icon"
            href="https://plainlab.github.io/plainlabs.png"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mememe &middot; Easiest way to meme on Slack</title>
        <style>
            html,
            body,
            div,
            span,
            applet,
            object,
            iframe,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            blockquote,
            pre,
            a,
            abbr,
            acronym,
            address,
            big,
            cite,
            code,
            del,
            dfn,
            em,
            img,
            ins,
            kbd,
            q,
            s,
            samp,
            small,
            strike,
            strong,
            sub,
            sup,
            tt,
            var,
            b,
            u,
            i,
            center,
            dl,
            dt,
            dd,
            ol,
            ul,
            li,
            fieldset,
            form,
            label,
            legend,
            table,
            caption,
            tbody,
            tfoot,
            thead,
            tr,
            th,
            td,
            article,
            aside,
            canvas,
            details,
            embed,
            figure,
            figcaption,
            footer,
            header,
            hgroup,
            menu,
            nav,
            output,
            ruby,
            section,
            summary,
            time,
            mark,
            audio,
            video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            menu,
            nav,
            section {
                display: block;
            }
            body {
                line-height: 1;
            }
            ol,
            ul {
                list-style: none;
            }
            blockquote,
            q {
                quotes: none;
            }
            blockquote:before,
            blockquote:after,
            q:before,
            q:after {
                content: '';
                content: none;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            body {
                color: rgb(31, 41, 55);
                background-color: rgb(249, 250, 251);
            }
            h1 {
                font-size: 2rem;
                line-height: 4rem;
                font-weight: medium;
            }
            h2 {
                font-size: 1.5rem;
                line-height: 3rem;
                font-weight: medium;
            }
            h3 {
                font-size: 1.25rem;
                line-height: 2.5rem;
            }
            p {
                font-size: 1rem;
                line-height: 1.5rem;
                opacity: 0.7;
            }
            code {
                font-family: 'Courier New', Courier, monospace;
                color: crimson;
            }

            .content {
                padding: 0.5rem;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .contact {
                margin-top: 2rem;
                opacity: 0.7;
            }

            .footer {
                margin: 3rem 0 1rem;
                text-align: center;
                font-size: 0.8rem;
                opacity: 0.5;
            }

            .manual {
                margin: auto;
                max-width: 40rem;
                padding: 2rem;
            }

            .demo {
                width: 25rem;
                margin: 1rem;
                max-width: 100%;
                border-radius: 1rem;
            }

            .logo {
                width: 7rem;
                height: 7rem;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-gap: 2rem;
                margin: 1rem auto;
                padding: 1rem;
                max-width: 70rem;
            }

            .image-item {
                position: relative;
            }

            .image-item img {
                overflow: hidden;
                width: 100%;
                border-radius: 1rem;
            }

            .image-key {
                line-height: 1.5rem;
                padding: 1rem 0.5rem;
                color: crimson;
            }
        </style>
    </head>
    <body>