<%- include('_head'); %>

<section class="content">
    <h1>Mememe</h1>
    <p>Easiest way to meme on Slack!</p>
</section>
<section class="content">
    <a
        href="https://slack.com/oauth/v2/authorize?client_id=764852135511.3861915335174&scope=commands,users:read&user_scope="
        ><img
            alt="Add to Slack"
            height="40"
            width="139"
            src="https://platform.slack-edge.com/img/add_to_slack@2x.png"
            srcset="
                https://platform.slack-edge.com/img/add_to_slack.png    1x,
                https://platform.slack-edge.com/img/add_to_slack@2x.png 2x
            "
    /></a>
</section>
<section class="manual">
    <h2>Usage</h2>
    <p>1. <a href="/list">List</a> all meme keys: <code>/meme list</code></p>
    <p>
        2. Post your custom meme to Slack:
        <code>/meme meme-key | top text | bottom text</code>
    </p>
    <img
        class="demo"
        src="https://raw.githubusercontent.com/plainlab/meme/main/demo.png"
    />
</section>
<article class="manual">
    <h2>Privacy</h2>

    <p>
        This privacy notice discloses the privacy practices for Mememe. This
        privacy notice applies solely to information collected by this website.
        It was last updated September 19, 2023.
    </p>

    <h3>Information Collection</h3>
    <p>
        We are the sole owners of the information collected on this site. We
        only have access to collect information that you voluntarily give us via
        email or other direct contact from you. We will not sell or rent this
        information to anyone.
    </p>

    <p>
        We collect your workspace information including your team and user profiles.
        This information is kept for 90 days after uninstalling the app. 
    </p>

    <p>
        You can revoke access to the Slack app by uninstalling the application
        from your workspace.
    </p>

    <h3>Security</h3>
    <p>
        We take precautions to protect your information. When you submit
        sensitive information via the website, your information is encrypted and
        transmitted to us in a secure way. Your generated Slack access tokens
        are stored in a secure database and can be deleted at any time.
    </p>

    <p>
        You can request your data being deleted by sending an email to our support contact.
    </p>

    <h2>Support</h2>
    <p>
        Contact us via
        <a href="mailto:plain@manhtai.com">email</a> if you have any questions or need supports.
    </p>
</article>

<%- include('_foot'); %>
